.Article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 15px;
  border-right: 1px solid #c9c9c9;
  color: #404040;

  .Article_Title_None {
    width: 100%;
    background: #e3e3e3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    height: 35px;
    cursor: pointer;
    overflow: hidden;
    padding: 5px 0 5px 32px;

    &:hover {
      background: #d6d6d6;
    }

    .icon {
      height: 30px;
      width: 30px;
      line-height: 30px;
      text-align: center;
    }
  }

  .Article_Title_Click {
    width: 100%;
    background: #c9c9c9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    height: 35px;
    cursor: pointer;
    overflow: hidden;
    padding: 5px 0 5px 32px;

    .icon {
      height: 30px;
      width: 30px;
      line-height: 30px;
      text-align: center;
    }
  }
}

