.ThreeMenu {
  width: 100%;
  background: #c9c9c9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 15px;
  color: #404040;

  .ThreeMenu_Title {
    padding-left: 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    margin: 3px 0;
    height: 35px;
    cursor: pointer;
  }
}
